<html>
<head>
<title>CyRun</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
<link rel="stylesheet" href="styles.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#808080">
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand mx-auto">
    <img id="level" height="80px" src="logo.png">
    </a>
  </nav>
  <div class="container">
    <div class="row p-2">
      <div class="col">
        <form action="lobby.html" class="form-group">
          <label for="username">Username</label><br />
          <input class="form-control" type="text" size="40" placeholder="Type your username" id="username_entrance" name="username" required><br />
          <label for="room">Game Lobby</label><br />
          <input class="form-control" type="text" size="40" placeholder="Type the name of the game lobby" id="gamelobby_entrance" name="lobby" required></br />
          <button type="submit" id="submit" class="btn btn-primary">Join lobby</button>
      </form>
      </div>
    </div>
  </div>


<script src="/socket.io/socket.io.js"></script>
</body>
</html>
