<html>
<head>
<title>CyRun - Lobby</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
<script src="./draw.js"></script>
<!-- <link rel="stylesheet" href="styles.css" /> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color:#808080">
<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand">
  <img id="level" width="216" height="64" src="logo.png">
  </a>
</nav>

<div class="container-fluid">
  <div class="row">
    <!-- Left Column -->
    <div class="col-md-4">
      <div id="chat_container" >
        <h5 id="gamelobby"></h5>
        <h4>Chat</h4>
        <div id="chat" style="background-color:#FFFFFF; height: 325px; overflow-y: scroll; border: black 5px solid;"></div>
        <div class="input-group mt-1">
          <input type="text" placeholder="Type your message" id="chatbox" name="chat" class="form-control">
          <div classs="input-group-append">
            <button type="button" id="send" class="btn btn-primary">Send</button>

          </div>
        </div>
      </div>
      <div id="users_lobby">
        <h4>Users</h4>
        <ul id="users"></ul>
        <p id="leave"><a href="index.html">Leave game</a></p>
      </div>
    </div>

    <!-- Middle Column -->
    <div class="col-md-8" id="gameContainer">
      <canvas id="canvas" width="550" height="650" style=" border:5px solid #FFFF00;"></canvas>
      <script>generateBoard()</script>
      <script>initCharacters()</script>
    </div>
    
  </div>
</div>
<footer class="footer text-center">
  <h3>Although there is no game yet, you may press the arrow keys to test user input.</h3>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js" integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w==" crossorigin="anonymous"></script>
<script src="./socket.io/socket.io.js"></script>
<script src="./app.js"></script>
</body>
</html>
