<html>
<head>
<title>CyRun - Lobby</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="styles.css" />
</head>

<body style="background-color:#808080">
<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand mx-auto">
  <img id="level" height="32px" src="logo.png">
  </a>
</nav>

<div id="endgameboard" class="rounded border border-dark bg-light border-5 p-2">
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand mx-auto">
      <img height="48px" src="gameover.png">
    </a>
  </nav>
  <div>
  <br><br>
  <h4 id="winner"></h4>
  <br><br>
  <h4><u>Scoreboard</u></h4><br>
  <p2 id="finalScoreboard"></p2> 
  <br><br>
  <h4 id="matchTime"></h4>
  <br><br>
  <form action="index.html" class="form-group">
    <button type="submit" id="submit" class="btn btn-primary">Return to main menu</button>
  </form>
  </div>
</div>

<!-- <script>
  function off() {
    document.getElementById("endgameboard").style.display = "none";
  }
</script> -->

<!--This button is purely for development purposes. It will trigger the game in the same way as if all pac dots have been eaten-->
<button onclick="callEnd()">End Game Sim</button>

<div class="container-fluid">
  <div class="row">
    <!-- Left Column -->
    <div class="col-lg-3">
      <div id="chat_container" class="mt-2" >
        <h5 id="gamelobby"></h5>
        <div class="rounded border border-dark bg-light border-5 p-2" id="chat" style=" height: 80%; overflow-y: scroll; max-height: 500px;"></div>
        <div class="input-group mt-1">
          <input type="text" placeholder="Type your message" id="chatbox" name="chat" class="form-control">
          <div classs="input-group-append">
            <button type="button" id="send" class="btn btn-primary">Send</button>

          </div>
        </div>
      </div>

    </div>

    <!-- Middle Column -->
    <div class="col-lg-6 text-center" id="wrapper">
      <div id="game"></div>
    </div>
    <!-- Right Column -->
    <div class="col-lg-3">
      <h5 style="height: 24px"> </h5>
      <div id="users_lobby" class="bg-light mt-2 rounded p-2 border border-dark border-5">
        <h4>Users</h4>
        <ul id="users"></ul>
        <p id="leave"><a href="index.html">Leave game</a></p>
      </div>
    </div>

  </div>
</div>
<footer class="footer text-center bg-dark">
  <p style="color:#FFFF00"><span id="pregameMsg">Four players are needed for a game to begin<br /></span>
  Created by <a href="http://christianlisle.com" target="_blank">Christian Lisle</a>, Marissa Gustafson, and Joe Dobosenski</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js" integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w==" crossorigin="anonymous"></script>
<script src="./socket.io/socket.io.js"></script>
<script src="./app.js"></script>
</body>
</html>
