#users  {
  list-style-type: none;
  list-style-position: inside;
}

* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */

.border-5{
  border-width:5px !important;
}
